<connectionStrings>
  <add name="employee_background_checkConnectionString"
       connectionString="Data Source=YOUR_SQL_SERVER;Initial Catalog=YOUR_DATABASE;User ID=YOUR_DATABASE_USER;Password=YOUR_DATABASE_PASSWORD"
       providerName="System.Data.SqlClient" />
  <add name="databaseConnectionString"
       connectionString="Data Source=YOUR_SQL_SERVER;Initial Catalog=YOUR_DATABASE;User ID=YOUR_DATABASE_USER;Password=YOUR_DATABASE_PASSWORD"
       providerName="System.Data.SqlClient" />
</connectionStrings>

