<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="employee_background_checkConnectionString" connectionString="Data Source=NAVEEN;Initial Catalog=database;Persist Security Info=True;User ID=sa;Password=heisenberg057"
            providerName="System.Data.SqlClient" />
        <add name="databaseConnectionString" connectionString="Data Source=NAVEEN;Initial Catalog=database;Persist Security Info=True;User ID=sa;Password=heisenberg057"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>

